<section class="about">
  <h1>This is the about page</h1>


  <p>Welcome to AAA Cooling & Heating, Inc. where we offer comprehensive services designed to meet all your heating and cooling needs. We service all makes and models and offer sales, repairs and installations by professional and certified technicians.</p>

  <p>Our goal is to provide each and every customer with exemplary services and to ensure 100% satisfaction by offering nothing but the highest quality products and parts. We are one of a few of Trane’s comfort specialists and Lennox Premier Dealer.</p>

  <ul>
    <li ng-repeat="item in listItems"> {{item}} </li>
  </ul>




</section>